<h2 class="font-color">Book This Experience</h2>
<p class="font-size-20">Meal: <%= @experience.name %></p>
<p class="font-size-20">Host: <%= "#{@experience.user.first_name} #{@experience.user.last_name}" %></p>
<p class="font-size-20">Price: <%= @experience.price %></p>
<%= render 'form', booking: @booking %>