<div class="footer-footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-weixin"></i></a>
    <a href="#"><i class="fab fa-weibo"></i></a>
    <a href="#"><i class="fab fa-instagram"></i>  </a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    This plantform is made with <i class="fa fa-heart"></i> by the UXP team
  </div>
</div>
