<div class="footer">
  <div class="footer-follow">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="footer-follow">
          <div>Follow us on</div>
          <div class="footer-links">
            <a href="#"><i class="fab fa-weixin"></i></a>
            <a href="#"><i class="fab fa-weibo"></i></a>
            <a href="#"><i class="fab fa-instagram"></i>  </a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="footer-copyright">
          This plantform is made with <i class="fa fa-heart"></i> by the Sportchain team
        </div>
      </div>
    </div>
  </div>
</div>

