<!-- <ul>
          <% @experience.timeslots.each do |ts| %>
            <li>
              <div><%= "From: #{ts.start_time}" %></div>
              <div><%= "To: #{ts.end_time}" %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <%= link_to "Book", new_experience_booking_path(@experience), class: "btn btn-success btn-book font-white"  %>
      </div>
      </div> -->