<% @title = "Edit #{@experience.name}"  %>
<div class="container">
  <div class="row">
    <div class="col col-sm-8 col-sm-offset-2">
      <h1>Update Experience</h1>
      <%= render 'form', experience: @experience %>
      <%= link_to 'Back', profile_path %>
    </div>
  </div>
</div>