
<div class="form-wrapper form-margin form-backgroup3">
  <div class="cardlogin">
      <div class="col col-sm-12 col-sm-offset-0">
        <div class="div-design">
          <h3 class="font-color">Add A New Experience To Your Own Profile</h3>
          <%= render 'form', experience: @experience %>
          <br>
          <%= link_to 'Back', profile_path %>
        </div>
      </div>
  </div>
</div>
