
  <!-- show-wrapper and show-container was here  -->
<div class="container-experience-show" style="background: white">
  <%= render 'show_page_top' %>
  <div class="show-page-space"></div>
  <%= render 'show_page_bottom' %>
</div>
