<div class="container-experience-show">
  <div class="experience-host-container">
    <%= render 'show_page_top' %>
  </div>
  <div class="experience-host-container">
    <%= render 'show_page_bottom' %>
  </div>
</div>