
.experience_title_card {
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

.experience_card {
 align-items: center;
 margin-left: 100px;
 margin-bottom: 50px;
}

.profile_card {
  align-items: center;
  margin-left: 100px;
  margin-bottom: 50px;
}

.host_info_container {
  display: flex;
  flex-direction: column;
}

.reviews_card {
  margin-left: 100px;
}

.show-card {
  width: 400px;
}
