
.experience_title_card {
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

.experience_card {
 align-items: center;
 margin-left: 100px;
 margin-bottom: 50px;
}

.profile_card {
  align-items: center;
  margin-left: 100px;
  margin-bottom: 50px;
}


.reviews_card {
  margin-left: 100px;
}

.show-card {
  width: 400px;
}

.div-recommended {
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
  width: 200px;
}

.div-recommended2 {
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
  width: 200px;
}
