
.font-white a{
  color: white;
}

.host_name_header a{
  color: black;
  font-size: 26px;
}

.host_header {
  font-size: 18px;
}

.host_ans {
  font-size: 14px;
}

.detail_name_header {
  margin-left: 12px;
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.experience-desc-after-icon {
  display: inline-block;
  font-size: 16px;
}
