.secondary-headers {
  letter-spacing: 1.3px;
  line-height: 1;
  font-size: 14px;
  padding-top: 5px;
}

.message-body h3 a {
  color: black;
}

.font-white a{
  color: white;
}

.font-white a:hover {
  color: white;
  text-decoration: none;
}

.font-black {
  color: black;
}

.font-black a{
  color: black;
}

.font_size_35 {
  font-size: 35px;
}

.font_size_25 {
  font-size: 25px;
}

.green {
  color: gray;
}

.green:hover {
  color: #5DB498;
}

.center-host-title-row {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.host_name_header a{
  color: black;
  font-size: 26px;
  text-transform: uppercase;
}

.host_header {
  font-size: 18px;
}

.host_ans {
  font-size: 14px;
}

.detail_name_header {
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.experience-desc-after-icon {
  font-size: 12px;
  letter-spacing: 1.3px;
  line-height: 1;
}

.description-text-for-the-weak {
  letter-spacing: 1.3px;
  line-height: 1;
}

.all-show-title-font {
    letter-spacing: 1.3px;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 4px solid #111;
    display: inline-block;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.h3-all-show-title-font {
  font-size: 18px;
}

.capitalize {
  text-transform: capitalize;
}
