
.font-white a{
  color: white;
}

.font_size_35 {
  font-size: 35px;
}

.font_size_25 {
  font-size: 25px;
}

.green {
  color: gray;
}

.green:hover {
  color: #5DB498;
}

.host_name_header a{
  color: black;
  font-size: 26px;
}

.host_header {
  font-size: 18px;
}

.host_ans {
  font-size: 14px;
}

.detail_name_header {
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.experience-desc-after-icon {
  display: inline-block;
  font-size: 16px;
}

