.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%
}


.form-card {
  background-color: white;
  width: 400px;
}

.cardlogin {
  width: 400px;
  border-radius: 5px ;
  background-position: center;
  color: #616668;
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-top {
  margin-top: 30px;
}


.form-backgroup2 {
  background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21f8da08ad1e4c7a5f2955e6ed16baeb&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  height: calc(120vh - 70px);
}

.form-backgroup {
  background-image: url("https://images.pexels.com/photos/114296/pexels-photo-114296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  height: calc(100vh - 70px);
}

.form-backgroup3 {
  background-image: url("https://images.unsplash.com/photo-1467809941367-bbf259d44dd6?ixlib=rb-0.3.5&s=3a1e8d1d21b544ff7507f3deef0d4ca6&auto=format&fit=crop&w=2380&q=80");
  background-size: cover;
  height: calc(150vh - 70px);
}
