// .wrapper {
//   color:white;

// }

.align-items-search {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
}


.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: block;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
}

// .kenburns-top {
//   -webkit-animation: kenburns-top 5s ease-out both;
//           animation: kenburns-top 5s ease-out both;
// }


.banner-content {
  padding-top: 5vh;
  text-shadow: 0px 1px 5px black;
  margin-top: 15vh;
}

.banner-content h2 {
  margin-bottom: 20px;
}

.bannerbutton {
    width: 40px;
    height: 30px;
    // border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid white;
}

.banner h1 {
  font-size: 56px;
  font-weight: bold;
  letter-spacing:3px;
   text-shadow: 0px 1px 5px black;
    line-height: 1;
    text-transform: uppercase;
}

.banner h2 {
  font-weight: bold;
  letter-spacing:1.3px;
   text-shadow: 0px 1px 5px black;
    line-height: 1;
    text-transform: uppercase;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  letter-spacing:1.5px;
   text-shadow: 0px 1px 5px black;
}

.tabs {
  display: block;
  padding: 0px 40px 5px 111px;
  font-weight: bold;
  margin-bottom: 50px;
  border-color: #14A481;
  color: white;
}

.tabs a {
  color: white;
  // text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.tabs a:hover {
  cursor: pointer;
  // text-decoration: none;
  color: white;
}

.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.tabs p {
  font-size: 20px;
  margin-bottom: 0;
  margin: -11px 0 12.5px;
  padding-bottom: 0px;
  color: black;
}

.tab {
  background: #14A481;
  flex: 0 0 25%;
  text-align: center;
  padding: 10px 0px;
  margin: 0px;
  background-color: white;
}

.tabbox1 {
    width: 80%;
    height: 48px;
    // border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid black;
}

.tabbox2 {
    width: 80%;
    height: 48px;
    // border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid black;
}


.tabbox3 {
    width: 80%;
    height: 48px;
    // border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid black;
}


.tabbox4 {
    width: 80%;
    height: 48px;
    // border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border: 3px solid black;
}


.tabbox1 p {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-top: 16px;
    text-transform: uppercase;
    color: black;
}

.tabbox2 p {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-top: 16px;
    text-transform: uppercase;
    color: black;
}

.tabbox3 p {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-top: 16px;
    text-transform: uppercase;
    color: black;
}

.tabbox4 p {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-top: 16px;
    text-transform: uppercase;
    color: black;
}

.section-title-home {
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    height: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 40px 1em 40px;
    z-index: 1;
}

.section-title-home-content {
    text-align: left;
    background-color: white;
    position: relative;
    margin-bottom:20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.card {
    height: 337px;
    width: 250px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
    // border-radius: 1%;
    cursor: pointer;
}


.wholecard {
  margin-bottom: 50px;
  text-align: center;
}

.card-user {
    position: absolute;
    left: 10px;
    bottom: 22px;
    width: 40px;
    border-radius: 50%;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

.card-category {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 1;
    text-transform: uppercase;

}

.card-description {
    text-align: left;
    position: absolute;
    top: 319px;
    bottom: 0px;
    left: 51px;
    right: 0px;
    font-size: 15px;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
       letter-spacing: 1.3px;
    line-height: 1;
    text-transform: uppercase;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}

.experience-card-index {
  margin-left: 50px;
  display: block;
}

.cardcontainer {
  margin-top: 130px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

}

.icongroup {
  display: flex;
  position: absolute;
  top: 181px;
  bottom: 0px;
  left: 116px;
  right: 0px;
}

.icongroup li {
  text-decoration: none;
  font-size: 12px;
  color: #aaa;
  float: right;
  width: auto;
  margin: 0 0 0 12px;
  display: inline;
}


.cn {
  font-size: 120%;
}

.fa-star, .fa-comment, .fa-heart, .fa-yen-sign {
  color: #14A481;
}

._1mdayhn {
    position: absolute !important;
    top: -5px !important;
    right: -3px !important;
    padding: 11px !important;
}

.button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._1rp5252 {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    display: block !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
}


/* ----------------------------------------------
 * Generated by Animista on 2018-8-7 20:49:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
// @-webkit-keyframes kenburns-top {
//   0% {
//     -webkit-transform: scale(1) translateY(0);
//             transform: scale(1) translateY(0);
//     -webkit-transform-origin: 50% 16%;
//             transform-origin: 50% 16%;
//   }
//   100% {
//     -webkit-transform: scale(1.25) translateY(-15px);
//             transform: scale(1.25) translateY(-15px);
//     -webkit-transform-origin: top;
//             transform-origin: top;
//   }
// }
// @keyframes kenburns-top {
//   0% {
//     -webkit-transform: scale(1) translateY(0);
//             transform: scale(1) translateY(0);
//     -webkit-transform-origin: 50% 16%;
//             transform-origin: 50% 16%;
//   }
//   100% {
//     -webkit-transform: scale(1.25) translateY(-15px);
//             transform: scale(1.25) translateY(-15px);
//     -webkit-transform-origin: top;
//             transform-origin: top;
//   }
// }

// .card .front,
// .card .back {
//   display: block;
//   height: 100%;
//   width: 100%;
//   line-height: 60px;
//   color: white;
//   text-align: center;
//   font-size: 4em;
//   position: absolute;
//   -webkit-backface-visibility: hidden;
//   -moz-backface-visibility: hidden;
//   -o-backface-visibility: hidden;
//   box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
//   -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
// }

// .card .back {
//   width: 100%;
//   padding-left: 3%;
//   padding-right: 3%;
//   font-size: 16px;
//   text-align: left;
//   line-height: 25px;
// }

// .card .back {
//   background: #03446A;
//   -webkit-transform: rotateY( 180deg );
//   -moz-transform: rotateY( 180deg );
//   -o-transform: rotateY( 180deg );
//   transform: rotateY( 180deg );
// }

// /*Colors for front and back applied here*/
// .cardContainer:first-child .card .front {
//   background: #2aa9e0;
// }

// .cardContainer:first-child .card .back {
//   background: #2aa9e0;
// }

// .cardContainer:nth-child(2) .card .front {
//   background: #f39c12;
// }
// .cardContainer:nth-child(2) .card .back {
//   background: #f39c12;
// }

// .cardContainer:nth-child(3) .card .front {
//   background: #27ae60;
// }
// .cardContainer:nth-child(3) .card .back {
//   background: #27ae60;
// }

// .cardContainer:nth-child(4) .card .front
// {
//   background: #AD103C;
// }
// .cardContainer:nth-child(4) .card .back
// {
//   background: #AD103C;
// }


@import "cards";
@import "form";
@import "buttons";
@import "font";
@import "booking";
@import "image";


@import url(https://fonts.googleapis.com/css?family=Raleway);

.backcard {
  text-align:center;
  padding-left: 20px;
  padding-right:15px;
  margin-top: 20px;
  font-color:white;
  text-decoration: none;
    letter-spacing: 1.3px;
    line-height: 1;
    text-transform: uppercase;
}

.backcard a {
  text-decoration: none;
}

.backcard h6 {
  position: absolute;
  top: 290px;
  bottom: 0;
  left: 0px;
  right: 0;
  color:white
}

.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px 0px;
  min-width: 241px;
  max-width: 310px;
  width: 106%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}

.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: #32333B;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  // border-radius: 1%;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
}
.snip1584 figcaption {
  position: absolute;
  top: -45px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1584 h5,
.snip1584 p,
.snip1584 h4,
.snip1584 h6 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.img {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  border: solid 1px white;
  width: 150px;
  height: 150px;
  background: white;
  // border-radius: 2%;
  margin-bottom: 20px;
  margin-top: 5px;
 -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.index-venue-image {
  width: 100%;
  height: 200px;

  margin-bottom: 20px;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}


.tabimg {
  width: 176px;
  height: 172px;
  // border-radius: 0px 0px 2px 2px;
  background: white;
  margin-bottom: 10px;
  margin-top: 0;
}

.snip1584 h5 {
  font-size:20px;
  text-align: center;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.snip1584 h4 {
  font-size:14px;
  margin-top: 15px;
  text-align: left;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}


.snip1584 h6 {
  font-size:10px;
  text-align: center;
  color:white;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  letter-spacing: 1.3px;
  line-height: 1;
  padding-top: 16px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

.snip1584 p {
  font-size:18px;
  text-align: center;

  font-weight: normal;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


#snip1584-name {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
  margin-bottom: 4px;
  color: white;
  font-weight:bold;
}

.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1584:hover h5,
.snip1584.hover h5,
.snip1584:hover h6,
.snip1584.hover h6,
.snip1584:hover img,
.snip1584.hover img,
.snip1584:hover h4,
.snip1584.hover h4,
.snip1584:hover p,
.snip1584.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1584:hover h4,
.snip1584.hover h4 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


.snip1584:hover h6,
.snip1584.hover h6 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1584:hover p,
.snip1584.hover p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1584 {
  &:hover {
    .card-category {
      display: none;
    }
  }
}

.snip1584 {
  &:hover {
    .avatar {
      display: none;
    }
  }
}

.wholecard {
  &:hover {
    .card-description {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.bottom-section {
  background-color: #14A481;
  color: white;
  width: 100%;
}

.bottom-section h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  padding-top: 30px;
}

.second-section {
  display: flex;
  text-align: left;
  padding-bottom: 30px;
  margin-top: 40px;
}

.second-section h2 {
  margin-top: 0px;
}

.fa-search {
  font-size: 48px;
  margin-left: -25px;
}

.fa-plus-square {
  font-size: 48px;
  margin-left: -12px;
}

.fa-diagnoses {
  font-size: 48px;
  margin-left: 10px;
  margin-top: -10px;
}

.fa-dollar-sign {
  font-size: 48px;
  margin-left: 18px;
  width: 48px;
}

.section-combo {
  display: flex;
  margin-left: 50px;
  margin-top:30px;
  align-items: center;
  justify-content: center;
}

.splitter {
  border-right: solid 2px white;
  padding-right: 20px;
}
.section-words {
  margin-left: 20px;
}

.section-words4 {
  margin-left: 6px;
}

.section-words h3{
 margin-top: 0px;
}

.section-words4 h3{
 margin-top: 0px;
}

.second-section {
  margin-top: 0px;
}

.testimonial-title {
  text-align:center;
  color:white;
  margin-bottom: 30px;

}

.testimonial-title h1 {
  margin-top:0px;
}

.testimonial {
  margin-top: 90px;
  margin-bottom: 90px;
  background-color:#32333B;
  padding-top: 30px;
  color: white;
  margin-left:30px;
  margin-right:30px;
  margin-bottom: 30px;
  // border-radius:3px;
  padding-bottom:30px;
  letter-spacing: 1.3px;
  line-height: 1;
  text-transform: uppercase;
}

.user-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.back-avatar {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.usercards {
  text-align: center;
  display: flex;
  justify-content: center;
}

.usercard {
  background-color:white;
  color:black;
  padding: 20px 20px 20px 20px;
  width: 210px;
  margin: 10px 20px;
}

.usercard p {
 font-size: 10px;
}

.topsplitter {
  border-top: solid 2px #14A481;
  padding-top: 20px;
}

.btn-more {
  text-align:center;
  color:white;
  background-color:#14A481;
  // border-radius:5%;
  height: 35px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.fa-basketball-ball {
  font-size: 64px;
  font-color: black;
}

.shadow-md {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
}

.btn-light {
    color: #111;
    background: #ececec;
}

.btn-light:visited {
    color: #111;
    background: #ececec;
}

.btn-sm {
    padding: 6px 33px;
    letter-spacing: 3px;
}

.see-more-btn {
  text-align:center;
}

.cutline{
  border-bottom: solid 2px #ececec;
  padding-bottom: 20px;
}

.explore-btn {
  // border-radius: 4px;
  background: transparent;
  text-decoration: none;
  text-shadow:none;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 1;
  color:black;
  color:white;
  font-weight:bold;
  border: 3px solid white;
  opacity: 0.8;
  text-transform: uppercase;
}

.explore-btn:hover {
  text-decoration: none;
  color:white;
  opacity: 1;
}

.explore-btn-position {
  margin-top: 30px;
}

.responsive {
    width: 100%;
    height: 83%;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: #fff;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 30px;
    height: 20px;
    left: 50%;
    margin: -20px 0 0 -100px;
    padding: 19px 0px;
    position: absolute;
    top: 235px;
    bottom: 0px;
    left: 820px;
    right: 0px;
    text-align: center;

  &:focus {
    outline: none;
  }
}

.bannerslogan {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
}

.bannerslogan h2 {
    margin-right: 11px;
    margin-left: 203px;
}

input::-webkit-input-placeholder {
  color: white;
  font-style: italic;
  letter-spacing:1.3px;
   text-shadow: 0px 1px 5px black;
    line-height: 1;
    text-transform: uppercase;
}

.input:focus+.underline {
  transform: scale(1);
}

.underline {
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

.pickacity {
  display:block;
}

.soccer {
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
}

.guys {
  width: 90%;
  margin-top: 50px;
}

.column-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 40px;
  padding-left: 15px;
}

.align-self-start {
    margin-top: 50px;
    padding-right: 30px;
}

.feature-tile__callout {
    border-bottom: 4px solid #111;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1.3px;
    line-height: 1;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}



.feature-tile__callout p {
    margin: 0 0 10px;
    font-weight: bold;
}



// .feature-tile__content h2 {
//     font-size: 30px;
//     margin-right: 35px;
// }

.feature-tile__content2 {
  margin-left: 50px;
}

.feature-tile__content h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-right: 35px;
}

.feature-tile__content2 h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-right: 35px;
}

.searchBarMain {
  background: #fff;
  width: 80%;
  max-width: 680px;
  margin: 0 auto;
  height: 42px;
  margin-top: 11px;
  // border-radius: 2px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  left: 0;
  right: 0;
  top: 0
}

.searchBarMain i.searchBarSearchIcon {
  height: 100%;
  line-height: 42px;
  float: left;
  width: 52px;
  text-align: center;
  color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
  height: 42px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  width: calc(100% - 52px);
  outline: none;
  padding-right: 32px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
  position: absolute;
  right: 12px;
  top: 11px;
  color: rgba(0, 0, 0, 0.84);
  display: none;
  font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
  cursor: pointer;
}

.form-control {
  width: 50px;
}

.form-search {
    display: flex;
    text-align: center;
    width: 51%;
    padding-bottom: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 30px;
    height: 42px;
    font-size: 21px;
    line-height: -21.571429;
    color: white;
    background-color: transparent;
    background-image: none;
    border-bottom: 3px solid white;
    text-transform: uppercase;
}
